.container {
    color: #fff;
    background-color: rgba(180, 179, 179, 0.03);
    box-shadow: 2px 2px 42px rgba(255, 255, 255, 0.5);
    font-family: 'Orbitron', sans-serif;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 600px;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.headerTitle {
    font-size: 24px; /* Moved from inline style */
}

.description {
    margin-top: 4rem;
    font-size: 1rem;
}

.accessTitle {
    display: flex;
    align-items: center;
    font-size: 33px; /* Moved from inline style */
    margin-top: 2rem; /* Assuming you want some space before this title */
}

.benefitsList {
    gap: 30px;
    display: flex;

    flex-direction: row; /* Set direction to column for stacking */
    align-items: center;
    text-align: center;
    list-style: none;
    padding: 0;
    margin-top: 5rem;
}

.benefitsList li {
    margin-bottom: 0.5rem;
    font-size: 1rem;

}

.benefitsIcon {
    margin-bottom: 5px;
    scale: 120%;
}
.benefit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(47, 47, 47, 0.5);
}
/* Additional styles for responsiveness and fine-tuning */
